{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Quiz</h1>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form method="POST">
            {% for question in questions %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ question.question_statement }}</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option1" value="{{ question.option1 }}">
                            <label class="form-check-label" for="option1">{{ question.option1 }}</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option2" value="{{ question.option2 }}">
                            <label class="form-check-label" for="option2">{{ question.option2 }}</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option3" value="{{ question.option3 }}">
                            <label class="form-check-label" for="option3">{{ question.option3 }}</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option4" value="{{ question.option4 }}">
                            <label class="form-check-label" for="option4">{{ question.option4 }}</label>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit Quiz</button>
        </form>
    </div>
</div>
{% endblock %}